target
.settings
.classpath
.project
.idea
*.iml
.DS_Store
client-secret.json
node_modules
\.factorypath
\.vscode/settings\.json
*.code-workspace
cudeu-team43-google-application-credentials\.json

package\.json

\.eslintrc\.json
