language: java
before_install:
- openssl aes-256-cbc -K $encrypted_551350ce4e2d_key -iv $encrypted_551350ce4e2d_iv
  -in client-secret.json.enc -out client-secret.json -d
script: mvn clean verify
deploy:
  provider: gae
  keyfile: client-secret.json
  project: su19-codeu-43-4269
  on: master
