.card {
  width: 30%;
}

body > .page-header {
  margin: 8em 0em 4em 0em;
}

.card-body > .avatar-holder {
  width: 10em;
  height: 10em;
}

.avatar-holder > .avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}