body > .page-header {
  margin: 7em 0em 4em 0em;
}

.search-container {
  width: 85%;
  margin: auto;
}

.search-bar {
  width: 350px;
  position: relative;
  display: flex;
}

::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 200;
}

.searchText {
  width: 100%;
  border: 2px solid rgb(23, 162, 184);
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(23, 162, 184, 0.9);
}

.searchTerm:focus{
  color: rgb(23, 162, 184);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(23, 162, 184);
  background: rgb(23, 162, 184);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.imageLabelButton {
  border-radius: 2em;
}

.message-container {
  width: 85%;
  margin: auto;
}

@media (min-width: 30em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 60em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 90em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}