.landing {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.landing > .landing-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#nextSection::after {
  background: #ffffff;
  opacity: 0.4;
  position: absolute;
  width: 140px;
  height: 70px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  text-align: center;
  line-height: 120px;
  content: "\25BC";
  z-index: 99;
}

.carousel-image {
  height: 100vh;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
}

.landing-tagline {
  width: 100%;
  margin: auto;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
}

.landing-tagline > * {
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: rgba(245, 245, 245, 1);
}

.landing-icon {
  width: 3em;
  margin-bottom: 1.2em;
  margin-top: 0.8em;
}

.carousel-caption {
  right: auto !important;
  bottom: 5%;
  left: 12%;
}

.location-text {
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}

.location-icon {
  font-size: 1.2em !important;
}

/*
 * Extra utilities.
 */
.flex-md-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.landing-page-description {
  margin-top: -5vh;
  padding-top: 5vh;
}

.website-intro {
  height: 35vh;
}

.description-card {
  min-height: 30vh;
}

.description-card-detail {
  max-width: 35em;
  margin: auto;
}
