.landing {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.landing > .landing-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.carousel-image {
  height: 100vh;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
}

.landing-tagline {
  width: 100%;
  margin: auto;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
}

.landing-tagline > * {
  color: rgba(245, 245, 245, 1);
}

.landing-tagline > .font-weight-lightest {
  font-weight: 100;
}

.landing-icon {
  width: 3em;
  margin-bottom: 1.2em;
  margin-top: 0.8em;
}

/*
 * Extra utilities.
 */
.flex-md-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.landing-page-description {
  margin-top: -5vh;
  padding-top: 5vh;
}

.website-intro {
  height: 35vh;
}

.description-card {
  min-height: 30vh;
}

.description-card-detail {
  max-width: 35em;
  margin: auto;
}
