.landing {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.carousel-item {
  background-attachment: fixed;
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.landing > .landing-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.carousel-image {
  height: 100vh;
  object-fit: cover;
}

.landing > .landing-tagline {
  width: 80%;
  margin: auto;
  z-index: 2;
}

.landing-tagline > * {
  color: rgba(245, 245, 245, 1);
}

.landing-tagline > .font-weight-lightest {
  font-weight: 100;
}

.landing-icon {
  width: 15%;
  margin: 1em auto;
}

/*
 * Extra utilities.
 */
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}