.card-footer > a > .tag-button {
  line-height: normal;
  font-size: small;
}

.card-footer > a:hover {
  text-decoration: none;
}

.sentiment-score-icon {
  padding-right: 0.5em;
}

.text-to-speech-icon {
  float: right;
}