.card-footer > a > .tag-button {
  line-height: normal;
  font-size: small;
}

.card-footer > a:hover {
  text-decoration: none;
}

.sentiment-score-icon {
  padding-right: 0.5em;
}

.card-body > .imageLandmark-container {
  line-height: 1em;
  font-size: 80%;;
}
