nav.transparent-nav-bar {
  background-color: rgba(255, 255, 255, 0) !important;
}

nav.non-transparent-nav-bar {
  background-color: white !important;
}

.transparent-nav-bar > div > ul > li > .nav-link {
  color: white;
}

.non-transparent-nav-bar > div > ul > li > .nav-link {
  color: black;
}

.nav-link {
  font-size: 0.9em;
  margin: 0em 1em;
  text-align: right;
}

.active-link {
  color: rgb(23, 162, 184) !important;
}

.transparent-nav-bar > .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-brand {
  margin: 0em 1em;
}

.brand-name {
  color: rgb(23, 162, 184);
  font-size: 0.8em;
  font-weight: 600;
}

.hidden {
  visibility: hidden;
}
