body > .page-header {
  margin: 7em 0em 4em 0em;
}

.content-container {
  width: 80%;
  margin: auto;
  display: flex;
}

.left-container {
  flex: 30%;
  top: 7em;
  height: 90vh;
}

#user-profile-image {
  object-fit: cover;
  width: 290px;
  height: 290px;
}

.profile-container {
  width: 290px;
}

.right-container {
  flex: 70%;
}

@media (min-width: 40em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 80em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.hidden {
  display: none;
}

.profile-image-container {
  position: relative;
  display: inline-block;
}

.edit-profile-image {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
}

.edit-profile-image :hover {
  cursor: pointer;
}

.edit-profile-image i {
	color: rgba(0, 0, 0, 0.55);
}

.profile-element > * {
  line-height: 1.8em;
}

.icon-container > .detail-icon {
  line-height: 1.8em;
}

#edit-profile-button {
  width: 100%;
}

.icon-container {
  width: 2.5em;
}

::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 200;
}

#message-input {
  height: 100px;
  width: 100%;
}

#image-url {
  width: 100%;
}
