body > .page-header {
  margin: 7em 0em 4em 0em;
}

.content-container {
  width: 80%;
  margin: auto;
  display: flex;
}

.left-container {
  flex: 30%;
  top: 7em;
  height: 90vh;
  overflow-y: auto;
  padding-bottom: 10vh;
}

#user-profile-image {
  object-fit: cover;
  width: 290px;
  height: 290px;
}

.profile-container {
  width: 290px;
}

.right-container {
  margin-left: 22em;
  width: 80%;
}

@media (min-width: 40em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 80em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.hidden {
  display: none;
}

.profile-image-container {
  position: relative;
  display: inline-block;
}

.edit-profile-image {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 0;
  bottom: 0;
}

.display-block {
  display: block;
}

.edit-profile-image :hover {
  cursor: pointer;
}

.edit-profile-image i {
  color: rgba(0, 0, 0, 0.55);
}

#uploaded-profile-image {
  object-fit: cover;
  width: 290px;
  height: 290px;
}

.set-new-profile-picture-button {
  width: 290px;
}

.modal-dialog {
  width: 350px;
}

.profile-element > * {
  line-height: 1.8em;
}

.icon-container > .detail-icon {
  line-height: 1.8em;
}

#edit-profile-button {
  width: 100%;
}

.icon-container {
  width: 2.5em;
}

::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 200;
}

.content-tab > .nav-item > .active {
  color: rgb(23, 162, 184) !important;
  opacity: 1 !important;
}

.content-tab > .nav-item > .nav-link {
  color: black;
  opacity: 0.6;
}

.message-form-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.65);
}

.message-form-overlay :hover {
  cursor: pointer;
}

.message-form-overlay-texts {
  color: white;
  width: 80%;
}

.add-post-icon {
  font-size: 12em;
  font-weight: 300;
  font-family: monospace;
  line-height: 0.8em;
  margin-top: 0.4em;
}

#upload-photo-button {
  height: 7em;
  line-height: 6em;
}

.upload-photo-container > *:hover {
  cursor: pointer;
}

.uploaded-image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.image-location-input,
.image-location-input-icon-container {
  height: 2.5em !important;
}

.close-uploaded-image-icon {
  font-size: 1.8em;
  font-weight: 400;
  color: white;
}

.ck-content {
  height: 8em !important;
}

.ck-content > p {
  font-size: 0.95em !important;
}

.ck-placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 200;
  font-size: 0.95em !important;
}

.buttons-container {
  border-color: rgb(196, 196, 196) !important;
  background-color: white !important;
}

.uploaded-image {
  width: 100%;
}

.disabled :disabled {
  opacity: 0.4 !important;
}

.btn:disabled,
.btn.disabled {
  opacity: 0.4 !important;
}
.btn:disabled:hover,
.btn:disabled:focus,
.btn.disabled:hover,
.btn.disabled:focus {
  opacity: 0.4 !important;
}

.content-tab > li > a {
  margin: 0 !important;
}

.user-gallery-container-tab-pane {
  margin-left: -0.5em !important;
  margin-right: -0.5em !important;
}

.favourite-messages-container-tab-pane {
  margin-left: -0.5em !important;
  margin-right: -0.5em !important;
}
