body > .page-header {
  margin: 7em 0em 4em 0em;
}

.page-header > .title-hr {
  border: 0;
  width: 50%;
  margin: auto;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgb(253, 253, 253), rgba(0, 0, 0, 0.3), rgb(253, 253, 253));
  margin-top: 2em;
  margin-bottom: 1em;
}

#message-form {
  width: 85%;
  margin: auto;
}

/* Set the size of the message input to be 100 pixels high
   and will fill the width of its parent element. */
#message-input, #aboutme-input {
  height: 100px;
  width: 100%;
}

#image-url {
  width: 100%;
}

/* Use this to hide certain elements like forms if the
   user is not logged in or viewing their own page. */
.hidden {
  display: none;
}