body > .page-header {
  margin: 7em 0em 4em 0em;
}


/* Use this to hide certain elements like forms if the
   user is not logged in or viewing their own page. */
.hidden {
  display: none;
}

.popup_trigger {
  cursor: pointer;
}

.hover_bkgr{
  background:rgba(0,0,0,.35);
  cursor:pointer;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr > .helper{
  display:inline-block;
  height:30%;
}
.hover_bkgr > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

#aboutme-input {
  height: 100px;
  width: 100%;
}

#message-form {
  width: 85%;
  margin: auto;
}

/* Set the size of the message input to be 100 pixels high
   and will fill the width of its parent element. */
#message-input {
  height: 100px;
  width: 100%;
}

#image-url {
  width: 100%;
}